<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- USB 호스트 기능을 사용하기 위한 필수 선언 (NMP-10이 다른 기기를 제어하기 위함) -->
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:label="AOA 티타임"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- 플러터 엔진 초기화 시 배경으로 보여줄 테마 설정 -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />

            <!-- 기본 런처 설정 (앱 아이콘 클릭 시 실행) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- AOA 액세서리 연결 감지: 호스트가 START 신호를 보냈을 때 앱을 자동으로 실행하거나 인지하게 함 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            
            <!-- 액세서리 필터 정보 위치 지정: 제조사/모델명이 일치하는지 확인하는 XML 파일 연결 -->
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/usb_accessory_filter" />
        </activity>

        <!-- 플러터 도구가 생성한 플러그인 등록을 위해 사용되는 메타데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- 안드로이드 11 이상에서의 패키지 가시성 설정: 텍스트 처리 등을 위한 선언 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
